@charset "utf-8";
/* CSS Document */

div.form
{
	border-color:#F00;
	float:left;
	width:50%;
}

.images
{
	width:220px;
	height:220px;
	border-color:#0F0;
}

.cells_one
{
	border-color:#FF0000;
	background-color:#CCC;
	border-style:dotted;
}

.cells_two
{
	border-color:#FF0000;
	background-color:#FFF;
}

.tdd
{
	
}